/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/*****************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav {
  height: 50px;
  border-bottom: 1px solid black;
  width: 100%;
  list-style: none;

}

.leftside li {
  width: 150px;
   float: left;
   list-style: none;


}
.center {
  
  margin: 0;
  width: 20%;
  position: absolute;
  left: 50%;
  
}
.center h1 {
  display: inline-block;
  margin: 0;

}
.rightnav {
  width: 300px;
  float: right;
}
.rightnav  li {
  float:right;
  width: 80px;
}
li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
img{
 
  float: left;
}

main > section{
  width: 50%;
  height: 600px;
  float: left;
}
aside {
width:40%}

footer {

}

main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
main > section{
  width: 50%;
  height: 600px;
  float: left;
}

main > section h1, main > section {
  margin-top: 100px;
  display: inline-block;
  padding: 10px;
} 
main section > img{
  margin-top: 100px;
  width:80%;
}
main section+section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 40%;
  margin-left: 20px;
  margin-top: 100px;
}
main section h1 {
    font-size: 50px;
}
main section li {
  list-style: none;
  float: left;
  

  
}
main section span { 
   padding: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: blue;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  margin: 3px;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
